@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');




@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";


@import "../../node_modules/bootstrap/scss/bootstrap";


$profile-img-max-height: 60px;

* {
  font-family: 'Habibi', serif;
  color: #5C4238; 
  
}


.logo {
 
  
  @media (max-width: 576px) { 
    max-width:180px ;
  }

  @media (min-width: 576px) {
    width: 220px; 
  }

  @media (min-width: 768px) {
    width: 270px; 
  }

  @media (min-width: 992px) {
    width: 320px;
  }

  @media (min-width: 1200px) {
    width: 350px; 
  }

  @media (min-width: 1400px) {
    width: 400px; 
  }
}
                   



.profile-img {
  max-height: $profile-img-max-height; 
  width: auto;                         
}


.image-cropper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px; 


  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }

  @media (min-width: 576px) { 
    height: 250px;
  }





  @media (min-width: 992px) {
    height: 280px;
  }

  @media (min-width: 1200px) {
    height: 350px; 
  }

  @media (min-width: 1400px) {
    height: 400px; 
  }
  
}

